<server description="new server">

    <!-- Enable features -->
    <featureManager>
		   <feature>servlet-3.0</feature>
	    	<feature>jndi-1.0</feature>
		  <feature>jdbc-4.0</feature>
                  <feature>appSecurity-2.0</feature>
                  <feature>ldapRegistry-3.0</feature>
	  </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint host="*" httpPort="80" httpsPort="443" id="defaultHttpEndpoint"/>

        <httpSession cookieHttpOnly="false" cookieName="JSESSIONID" invalidationTimeout="8h" invalidateOnUnauthorizedSessionRequestException="false"/>
<!--
<httpSession invalidationTimeout="8h" invalidateOnUnauthorizedSessionRequestException="false"/>
<ltpa expiration="1440"/> 
-->
<webAppSecurity logoutOnHttpSessionExpire="true" />

	<!-- Automatically expand WAR files and EAR files -->
	<applicationManager autoExpand="true"/>


       <ldapRegistry
                id="sample_ldap" realm="SampleLdapIDSRealm" ignoreCase="true"
                host="172.16.160.120" port="389"
                baseDN="dc=iicparis,dc=fr,dc=ibm,dc=com"
                bindDN="cn=admin,dc=iicparis,dc=fr,dc=ibm,dc=com"
                bindPassword="admin"
                ldapType="Custom"
		recursiveSearch="true"
                certificateMapMode="EXACT_DN"
                >
                <customFilters
                        userFilter="(&amp;(uid=%v)(objectclass=posixaccount))"
                        groupFilter="(&amp;(cn=%v)(objectclass=groupofNames))"
                        userIdMap="*:uid"
                        groupIdMap="*:cn"
                        groupMemberIdMap="groupofNames:member"
                />
        </ldapRegistry>


  <!-- START ORA SETUP-->
  <!-- If Oracle machine is behind a firewall and is running a ssh server then connect via a local ssh tunnel -->
	<!-- and change serverName attribute to localhost -->
	<!-- /usr/bin/ssh -f -X -Y -N -C -L 1521:172.16.186.243:1521 -g administrateur:Adminvm$@172.16.186.243 -->

	<library id="ORALib">
	  <fileset dir="${shared.resource.dir}/ORA" includes="*.jar"/>
	</library>

	<dataSource jndiName="jdbc/lvso112.DANONE" transactional="false" cognosCatalog="" cognosDataSource="DEV" cognosSchema="DANONE">
	  <jdbcDriver libraryRef="ORALib"/>
	  <properties.oracle databaseName="lvso112" driverType="thin" password="danone" portNumber="1521" serverName="172.16.186.243" user="danone"/>
	</dataSource>

	<dataSource jndiName="jdbc/lvso112.COGNOS" transactional="false" cognosCatalog="" cognosDataSource="DEV" cognosSchema="COGNOS">
	  <jdbcDriver libraryRef="ORALib"/>
	  <properties.oracle databaseName="lvso112" driverType="thin" password="cognos" portNumber="1521" serverName="172.16.186.240" user="cognos"/>
	</dataSource>

	<dataSource jndiName="jdbc/maximo.MAXIMO" transactional="false" cognosCatalog="" cognosDataSource="JDBCAVIATION" cognosSchema="MAXIMO">
	  <jdbcDriver libraryRef="ORALib"/>
	  <properties.oracle databaseName="maximo" driverType="thin" password="maximo" portNumber="1521" serverName="172.16.186.251" user="maximo"/>
	</dataSource>

	<dataSource jndiName="jdbc/orcl.MAXIMO" transactional="false" cognosCatalog="" cognosDataSource="BDXMET" cognosSchema="MAXIMO" tableTypes="BOTH">
	  <jdbcDriver libraryRef="ORALib"/>
	  <properties.oracle databaseName="orcl" driverType="thin" password="spcspc" portNumber="1521" serverName="172.16.186.238" user="maximo"/>
	</dataSource>

	<dataSource jndiName="jdbc/XE.HR" transactional="false" cognosCatalog="CCAT" cognosDataSource="CDS" cognosSchema="CSCH">
	  <jdbcDriver libraryRef="ORALib"/>
	  <properties.oracle databaseName="XE" driverType="thin" password="spcspc" portNumber="1521" serverName="172.16.186.241" user="HR"/>
	</dataSource>

	<jndiEntry jndiName="TestORAConnection" value="select sysdate from dual"/>

  <!-- END ORA SETUP-->

  <!-- START DB2 SETUP-->

	<library id="DB2Lib">
    <fileset dir="${shared.resource.dir}/DB2" includes="*.jar"/>
  </library>

  <dataSource jndiName="jdbc/ANDROS.VENTES" transactional="false" cognosCatalog="" cognosDataSource="VENTES_MONDE" cognosSchema="VENTES" tableTypes="BOTH">
    <jdbcDriver libraryRef="DB2Lib"/>
    <properties.db2.jcc databaseName="ANDROS" password="spcspc" portNumber="50000" serverName="172.16.186.252" user="db2inst1"/>
  </dataSource>

 <dataSource jndiName="jdbc/ANDROS.WP_DEMO" transactional="false" cognosCatalog="" cognosDataSource="WP_DEMO" cognosSchema="WP_DEMO" tableTypes="TABLE">
    <jdbcDriver libraryRef="DB2Lib"/>
    <properties.db2.jcc databaseName="ANDROS" password="spcspc" portNumber="50000" serverName="172.16.186.252" user="db2inst1"/>
  </dataSource>

  <dataSource jndiName="jdbc/FRMARK.DB2INST1" transactional="false" cognosCatalog="" cognosDataSource="FRMARK" cognosSchema="DB2INST1">
    <jdbcDriver libraryRef="DB2Lib"/>
    <properties.db2.jcc databaseName="FRMARK" password="spcspc" portNumber="50000" serverName="172.16.186.242" user="db2inst1"/>
  </dataSource>

  <dataSource jndiName="jdbc/ORIGONE.DB2INST1" transactional="false" cognosCatalog="" cognosDataSource="ORIGONE" cognosSchema="DB2INST1">
    <jdbcDriver libraryRef="DB2Lib"/>
    <properties.db2.jcc databaseName="ORIGONE" password="spcspc" portNumber="50000" serverName="172.16.186.242" user="db2inst1"/>
  </dataSource>

  <dataSource jndiName="jdbc/AUDIT.DB2INST1" transactional="false" cognosCatalog="" cognosDataSource="AUDIT" cognosSchema="DB2INST1">
    <jdbcDriver libraryRef="DB2Lib"/>
    <properties.db2.jcc databaseName="AUDIT" password="spcspc" portNumber="50000" serverName="172.16.186.242" user="db2inst1"/>
  </dataSource>

  <dataSource jndiName="jdbc/SAMPLE.DB2INST1" transactional="false" cognosCatalog="" cognosDataSource="DB2Sample" cognosSchema="DB2INST1"  tableTypes="BOTH">
    <jdbcDriver libraryRef="DB2Lib"/>
    <properties.db2.jcc databaseName="SAMPLE" password="spcspc" portNumber="50000" serverName="172.16.186.242" user="db2inst1"/>
  </dataSource>

  <dataSource jndiName="jdbc/MAXDB76.MAXIMO" transactional="false" cognosCatalog="" cognosDataSource="MAXDB76" cognosSchema="MAXIMO">
    <jdbcDriver libraryRef="DB2Lib"/>
    <properties.db2.jcc databaseName="MAXDB76" password="spcspc" portNumber="50000" serverName="172.16.186.241" user="db2admin"/>
  </dataSource>

  <dataSource jndiName="jdbc/ENNOVIA.MAXIMO" transactional="false" cognosCatalog="" cognosDataSource="ENNOVIA" cognosSchema="MAXIMO" tableTypes="BOTH">
    <jdbcDriver libraryRef="DB2Lib"/>
    <properties.db2.jcc databaseName="ENNOVIA" password="spcspc" portNumber="50000" serverName="172.16.186.241" user="db2admin"/>
  </dataSource>

  <dataSource jndiName="jdbc/ENNOVIALX.MAXIMO" transactional="false" cognosCatalog="" cognosDataSource="ENNOVIA" cognosSchema="MAXIMO" tableTypes="BOTH">
    <jdbcDriver libraryRef="DB2Lib"/>
    <properties.db2.jcc databaseName="ENNOVIA" password="spcspc" portNumber="50000" serverName="172.16.186.81" user="db2inst1"/>
  </dataSource>

  <dataSource jndiName="jdbc/CDA.MAXIMO" transactional="false" cognosCatalog="" cognosDataSource="CDA" cognosSchema="MAXIMO">
    <jdbcDriver libraryRef="DB2Lib"/>
    <properties.db2.jcc databaseName="CDA" password="spcspc" portNumber="50000" serverName="172.16.186.241" user="db2admin"/>
  </dataSource>

  <dataSource jndiName="jdbc/SAMPLE.MAXIMO" transactional="false" cognosCatalog="" cognosDataSource="MAXIMOSample" cognosSchema="MAXIMO">
    <jdbcDriver libraryRef="DB2Lib"/>
    <properties.db2.jcc databaseName="MAXDB76" password="spcspc" portNumber="50000" serverName="172.16.186.247" user="db2admin"/>
  </dataSource>

  <dataSource jndiName="jdbc/COCOA.DB2INST1" transactional="false" cognosCatalog="" cognosDataSource="Cocoa" cognosSchema="DB2INST1">
    <jdbcDriver libraryRef="DB2Lib"/>
    <properties.db2.jcc databaseName="COCOA" password="spcspc" portNumber="50000" serverName="172.16.186.242" user="db2inst1"/>
  </dataSource>

        <dataSource jndiName="jdbc/CDA4.MAXIMO" transactional="false" cognosCatalog="" cognosDataSource="CDA4" cognosSchema="MAXIMO" tableTypes="TABLE">
        <jdbcDriver libraryRef="DB2Lib"/>
        <properties.db2.jcc databaseName="CDA4" password="spcspc" portNumber="50000" serverName="172.16.186.241" user="db2admin"/>
        </dataSource>

        <dataSource jndiName="jdbc/DGAC.MAXIMO" transactional="false" cognosCatalog="" cognosDataSource="DGAC" cognosSchema="MAXIMO" tableTypes="TABLE">
        <jdbcDriver libraryRef="DB2Lib"/>
        <properties.db2.jcc databaseName="DGAC" password="spcspc" portNumber="50000" serverName="172.16.186.250" user="db2admin"/>
        </dataSource>

        <dataSource jndiName="jdbc/CDABREST.MAXIMO" transactional="false" cognosCatalog="" cognosDataSource="CDABREST" cognosSchema="MAXIMO" tableTypes="TABLE">
        <jdbcDriver libraryRef="DB2Lib"/>
        <properties.db2.jcc databaseName="CDABREST" password="spcspc" portNumber="50000" serverName="172.16.186.241" user="db2admin"/>
        </dataSource>

  <jndiEntry jndiName="TestDB2Connection" value="select current date from sysibm.sysdummy1"/>

  <!-- END DB2 SETUP-->

  <!-- START DB2400 SETUP-->

  <library id="DB2400Lib">
    <fileset dir="${shared.resource.dir}/DB2400" includes="*.jar"/>
  </library>

  <dataSource jndiName="jdbc/DB2400" transactional="false" cognosCatalog="CCAT" cognosDataSource="CDS" cognosSchema="CSCH">
    <jdbcDriver libraryRef="DB2400Lib"/>
    <properties.db2.i.toolbox databaseName="" password="" portNumber="" serverName="" user=""/>
  </dataSource>

	<jndiEntry jndiName="TestDB2400Connection" value="select current date from sysibm.sysdummy1"/>

  <!-- END DB2400 SETUP-->

  <!-- START SQLSRV SETUP-->

  <library id="SQLSRVLib">
    <fileset dir="${shared.resource.dir}/SQLSRV" includes="*.jar"/>
  </library>

  <dataSource jndiName="jdbc/IBS_CHRYSALIDE.dbo" transactional="false" cognosCatalog="IBS_CHRYSALIDE" cognosDataSource="IBS_CHRYSALIDE" cognosSchema="dbo">
    <jdbcDriver libraryRef="SQLSRVLib"/>
    <properties.microsoft.sqlserver databaseName="IBS_CHRYSALIDE" password="spcspc" portNumber="1433" serverName="172.16.186.241" user="sa"/>
  </dataSource>

  <dataSource jndiName="jdbc/Northwind.dbo" transactional="false" cognosCatalog="Northwind" cognosDataSource="SQLServerSample" cognosSchema="dbo">
    <jdbcDriver libraryRef="SQLSRVLib"/>
    <properties.microsoft.sqlserver databaseName="Northwind" password="spcspc" portNumber="1433" serverName="172.16.186.241" user="sa"/>
  </dataSource>

	<jndiEntry jndiName="TestSQLSRVConnection" value="SELECT GETDATE()"/>

  <!-- END SQLSRV SETUP-->

  <!-- START MYSQL SETUP-->

  <library id="MYSQLLib">
    <fileset dir="${shared.resource.dir}/MYSQL" includes="*.jar"/>
  </library>

  <dataSource jndiName="jdbc/employees" transactional="false" cognosCatalog="employees" cognosDataSource="MYSQL" cognosSchema="">
    <jdbcDriver libraryRef="MYSQLLib"/>
    <properties databaseName="employees" password="spcspc" portNumber="3306" serverName="172.16.186.242" user="root"/>
  </dataSource>

	<jndiEntry jndiName="TestMYSQLConnection" value="select now()"/>

  <!-- END MYSQL SETUP-->

  <!-- START PGSQL SETUP-->

  <library id="PGSQLLib">
    <fileset dir="${shared.resource.dir}/PGSQL" includes="*.jar"/>
  </library>

  <dataSource jndiName="jdbc/dvdrental.public" type="javax.sql.XADataSource" cognosCatalog="" cognosDataSource="PGSample" cognosSchema="public">
    <jdbcDriver libraryRef="PGSQLLib" javax.sql.XADataSource="org.postgresql.xa.PGXADataSource"/>
    <properties databaseName="dvdrental" password="spcspc" portNumber="5432" serverName="172.16.186.242" user="postgres"/>
  </dataSource>

  <dataSource jndiName="jdbc/edl202207.public" type="javax.sql.XADataSource" cognosCatalog="" cognosDataSource="PGgecko-edl" cognosSchema="public" tableTypes="BOTH">
    <jdbcDriver libraryRef="PGSQLLib" javax.sql.XADataSource="org.postgresql.xa.PGXADataSource"/>
    <properties databaseName="edl202207" password="spcspc" portNumber="5432" serverName="172.16.186.242" user="postgres"/>
  </dataSource>

  <dataSource jndiName="jdbc/gecko-edl.public" type="javax.sql.XADataSource" cognosCatalog="" cognosDataSource="PGgecko-edl" cognosSchema="public" tableTypes="BOTH">
    <jdbcDriver libraryRef="PGSQLLib" javax.sql.XADataSource="org.postgresql.xa.PGXADataSource"/>
    <properties databaseName="gecko-edl" password="spcspc" portNumber="5432" serverName="172.16.186.242" user="postgres"/>
  </dataSource>

 <dataSource jndiName="jdbc/foodmart.public" type="javax.sql.XADataSource" cognosCatalog="" cognosDataSource="PGfoodmart" cognosSchema="public">
    <jdbcDriver libraryRef="PGSQLLib" javax.sql.XADataSource="org.postgresql.xa.PGXADataSource"/>
    <properties databaseName="foodmart" password="spcspc" portNumber="5432" serverName="172.16.186.248" user="postgres"/>
  </dataSource>

 <dataSource jndiName="jdbc/sugarcrm.public" type="javax.sql.XADataSource" cognosCatalog="" cognosDataSource="PGsugarcrm" cognosSchema="sugarcrm">
    <jdbcDriver libraryRef="PGSQLLib" javax.sql.XADataSource="org.postgresql.xa.PGXADataSource"/>
    <properties databaseName="sugarcrm" password="spcspc" portNumber="5432" serverName="172.16.186.248" user="postgres"/>
  </dataSource>

	<jndiEntry jndiName="TestPGSQLConnection" value="select 1"/>

  <!-- END PGSQL SETUP-->

  <!-- START IFX SETUP-->

  <library id="IFXLib">
     <fileset dir="${shared.resource.dir}/IFX" includes="*.jar"/>
  </library>

  <dataSource jndiName="jdbc/stores_demo" cognosCatalog="stores_demo" cognosDataSource="INFORMIXSample" cognosSchema="sde">
    <jdbcDriver libraryRef="IFXLib"/>
    <properties.informix databaseName="stores_demo" ifxIFXHOST="172.16.186.241" password="spcspc" portNumber="9088" serverName="ol_informix1210" user="informix"/>
  </dataSource>


  <dataSource jndiName="jdbc/csdb" cognosCatalog="stores_demo" cognosDataSource="INFORMIXSample" cognosSchema="sde">
    <jdbcDriver libraryRef="IFXLib"/>
    <properties.informix databaseName="csdb" ifxIFXHOST="172.16.186.246" password="cognos" portNumber="9080" serverName="ol_cognoscm" user="informix"/>
  </dataSource>

	<jndiEntry jndiName="TestIFXConnection" value="SELECT CURRENT FROM systables WHERE tabid=1"/>

  <!-- END IFX SETUP-->

  <!-- START TD SETUP-->

  <library id="TDLib">
       <file name="${shared.resource.dir}/TD/terajdbc4.jar" />
    <file name= "${shared.resource.dir}/TD/tdgssconfig.jar" />

  </library>

  <dataSource jndiName="jdbc/dbc.financial" cognosCatalog="" cognosDataSource="TDSample" cognosSchema="financial">
    <jdbcDriver libraryRef="TDLib" javax.sql.ConnectionPoolDataSource="com.teradata.jdbc.TeraConnectionPoolDataSource" className="com.teradata.jdbc.TeraDriver"/>
	<properties databaseName="dbc" password="dbc" serverName="172.16.186.245" DSName="172.16.186.245" user="dbc" portNumber="1025"/>
  </dataSource>

  <dataSource jndiName="jdbc/dbc.retail" cognosCatalog="" cognosDataSource="TDSample" cognosSchema="retail">
    <jdbcDriver libraryRef="TDLib" javax.sql.ConnectionPoolDataSource="com.teradata.jdbc.TeraConnectionPoolDataSource" className="com.teradata.jdbc.TeraDriver"/>
	<properties databaseName="dbc" password="dbc" serverName="172.16.186.245" DSName="172.16.186.245" user="dbc" portNumber="1025"/>
  </dataSource>

	<jndiEntry jndiName="TestTDConnection" value="select 1"/>

  <!-- END TD SETUP-->	

  <!-- START DMA SETUP-->

	<jndiEntry jndiName="WithRecCount" value="true"/>

  <!-- END DMA SETUP-->

	<!-- START COGNOS SETUP -->

	<jndiEntry jndiName="CognosFolder" value="C:/models"/>
	<jndiEntry jndiName="CognosModelsPath" value="/mnt/models"/>
	<jndiEntry jndiName="CognosDispatcher" value="http://172.16.186.246:9300/p2pd/servlet/dispatch"/>
	<jndiEntry jndiName="CognosLogin" value="admin"/>
	<jndiEntry jndiName="CognosPassword" value="Freestyle05$"/>
	<jndiEntry jndiName="CognosNamespace" value="CognosEx"/>
	<jndiEntry jndiName="CognosDefaultLocale" value="en-gb"/>
	<jndiEntry jndiName="CognosLocales" value="ar, de, en, es, fr, it, nl"/>

  <!-- END COGNOS SETUP -->

  <applicationMonitor updateTrigger="mbean"/>

  <application id="dma" location="dma.war" name="dma">
        <application-bnd>
                <security-role name="testing">
                  <special-subject type="ALL_AUTHENTICATED_USERS" />
                </security-role>
        </application-bnd>
  </application>

  <application id="DMA" location="DMA.war" name="DMA">
        <application-bnd>
                <security-role name="testing">
                  <special-subject type="ALL_AUTHENTICATED_USERS" />
                </security-role>
        </application-bnd>
  </application>

  <application id="dmagui" location="dmagui.war" name="dmagui">
        <application-bnd>
                <security-role name="testing">
                  <special-subject type="ALL_AUTHENTICATED_USERS" />
                </security-role>
        </application-bnd>
  </application>

  <application id="dmabeta" location="dmabeta.war" name="dmabeta">
        <application-bnd>
                <security-role name="testing">
                  <special-subject type="ALL_AUTHENTICATED_USERS" />
                </security-role>
        </application-bnd>
  </application>

  <application id="dmaxml" location="dmaxml.war" name="dmaxml">
        <application-bnd>
                <security-role name="testing">
                  <special-subject type="ALL_AUTHENTICATED_USERS" />
                </security-role>
        </application-bnd>
  </application>

  <application id="dmaca" location="dmaca.war" name="dmaca">
        <application-bnd>
                <security-role name="testing">
                  <special-subject type="ALL_AUTHENTICATED_USERS" />
                </security-role>
        </application-bnd>
  </application>

  <application id="dmaconf" location="dmaconf.war" name="dmaconf">
        <application-bnd>
                <security-role name="testing">
                  <special-subject type="ALL_AUTHENTICATED_USERS" />
                </security-role>
        </application-bnd>
  </application>

  <application id="dmaconf1" location="dmaconf1.war" name="dmaconf1">
        <application-bnd>
                <security-role name="testing">
                  <special-subject type="ALL_AUTHENTICATED_USERS" />
                </security-role>
        </application-bnd>
  </application>

  <application id="dmaconf2" location="dmaconf2.war" name="dmaconf2">
        <application-bnd>
                <security-role name="testing">
                  <special-subject type="ALL_AUTHENTICATED_USERS" />
                </security-role>
        </application-bnd>
  </application>

</server>
